
.imge{
    width: 200px;
    height: 200px;
    margin: 15px;
}

.feature p{
    color: black;
}
.feature h1{
    padding: 15px;
}
@media only screen and (width < 800px) {  
    .feature span,.feature p{
        font-size: 10px;
    }
    .image{
            height: 120px;
            width: 120px;
        }
    
    
}