

.catagory img{
    width: 130px;
    height: 130px;
}
.catagory p{
    font-weight: bold;
    font-size: 18px;
}
.pad{
    padding: 32px;
}

@media only screen and (width < 800px) {
    .catagory img{
        width: 80px;
        height: 80px;
    }
    .catagory p{
        font-weight: bold;
        font-size: 12px;
    }
    .catagory .pad{
        padding: -10px;
    }
}